<div class="grid grid-cols-12 gap-6">
  <div class="md:col-span-6 lg:col-span-3 col-span-12">
    <mat-card class="cardWithShadow cursor-pointer bg-light-primary shadow-none! mb-0! lg:mb-6!"
      [ngClass]="{ 'active-tab': activeTab() === 'All' }" (click)="handleTabClick('All')">
      <mat-card-content class="flex! items-center gap-4">
        <div class="icon size-9.5! rounded-md flex items-center justify-center bg-primary text-white">
          <i-tabler name="list-details" class="size-6!4 flex!"></i-tabler>
        </div>
        <div class="info">
          <h5 class="font-normal text-sm">Total</h5>
          <h5 class="font-medium text-sm">
            {{ allInvoices().length }} invoices
          </h5>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="md:col-span-6 lg:col-span-3 col-span-12">
    <mat-card class="cardWithShadow cursor-pointer bg-light-error shadow-none! mb-0! lg:mb-6!"
      [ngClass]="{ 'active-tab': activeTab() === 'Cancel' }" (click)="handleTabClick('Cancel')">
      <mat-card-content class="flex! items-center gap-4">
        <div class="icon size-9.5! rounded-md flex items-center justify-center bg-red-600 text-white">
          <i-tabler name="shopping-bag" class="size-6!4 flex!"></i-tabler>
        </div>
        <div class="info">
          <h5 class="font-normal text-sm">Cancel</h5>
          <h5 class="font-medium text-sm">
            {{ countInvoicesByStatus("Cancel") }} invoices
          </h5>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="md:col-span-6 lg:col-span-3 col-span-12">
    <mat-card class="cardWithShadow cursor-pointer bg-light-success shadow-none! mb-0! lg:mb-6!"
      [ngClass]="{ 'active-tab': activeTab() === 'Paid' }" (click)="handleTabClick('Paid')">
      <mat-card-content class="flex! items-center gap-4">
        <div class="icon size-9.5! rounded-md flex items-center justify-center bg-success text-white">
          <i-tabler name="truck" class="size-6!4 flex!"></i-tabler>
        </div>
        <div class="info">
          <h5 class="font-normal text-sm">Paid</h5>
          <h5 class="font-medium text-sm">
            {{ countInvoicesByStatus("Paid") }} invoices
          </h5>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="md:col-span-6 lg:col-span-3 col-span-12">
    <mat-card class="cardWithShadow cursor-pointer bg-light-warning shadow-none! mb-0! lg:mb-6!"
      [ngClass]="{ 'active-tab': activeTab() === 'Pending' }" (click)="handleTabClick('Pending')">
      <mat-card-content class="flex! items-center gap-4">
        <div class="icon size-9.5! rounded-md flex items-center justify-center bg-warning text-white">
          <i-tabler name="sort-ascending" class="size-6!4 flex!"></i-tabler>
        </div>
        <div class="info">
          <h5 class="font-normal text-sm">Pending</h5>
          <h5 class="font-medium text-sm">
            {{ countInvoicesByStatus("Pending") }} invoices
          </h5>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="flex items-center justify-between">
      <div>
         <span class="font-semibold text-sm block mb-2"> Search Invoice: </span>
        <mat-form-field appearance="outline" class="w-full hide-hint">
          <div class="flex flex-row items-center self-stretch gap-3 ">
            <i class="iconify size-5.5!" data-icon="solar:magnifer-line-duotone"></i>
            <input matInput placeholder="Search Invoice" (keyup)="filter($any($event.target).value)" />
          </div>
        </mat-form-field>
      </div>
    
      <div class="flex items-center justify-end">
        <a mat-button [routerLink]="['/apps/invoice/addInvoice']" mat-flat-button color="primary">Add Invoice</a>
      </div>
    </div>
    <div class="flex items-center justify-between mt-4">
      <div>
        <span class="font-semibold text-sm block mb-2"> Search with GST: </span>
        <mat-form-field appearance="outline" class="w-full">
        <mat-label>With GST</mat-label>
        <mat-select [(ngModel)]="invoice().billGST" name="billGST">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <div class="relative overflow-auto">
      <table mat-table [dataSource]="invoiceList" matSort class="stats-wrapper min-w-full mt-0">
        <ng-container matColumnDef="chk">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="allComplete()" [indeterminate]="someComplete()" (change)="setAll($event.checked)"
              color="primary">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element" class="text-sm whitespace-nowrap">
            <mat-checkbox [(ngModel)]="element.completed" (ngModelChange)="updateAllComplete()" color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-semibold text-base">
            Id
          </th>
          <td mat-cell *matCellDef="let element" class="text-sm whitespace-nowrap">
            {{ element.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="billTo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-semibold text-base">
            Bill To (Customer Name)
          </th>
          <td mat-cell *matCellDef="let element" class="text-sm whitespace-nowrap">
            {{ element.billTo }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalCost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-semibold text-base">
            Total Cost (Non-GST)
          </th>
          <td mat-cell *matCellDef="let element" class="text-sm whitespace-nowrap">
            {{ element.totalCost | currency }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="font-semibold text-base">
            Status
          </th>

          <td mat-cell *matCellDef="let element" class="text-sm whitespace-nowrap">
            <span class="px-2 py-1 font-medium rounded-md text-xs" [ngStyle]="{
                'background-color':
                  element.status === 'Cancel'
                    ? 'rgb(255, 0, 0)'
                    : element.status === 'Paid'
                    ? 'rgb(19, 222, 185)'
                    : element.status === 'Pending'
                    ? 'rgb(255, 174, 31)'
                    : 'transparent',
                color: 'white'
              }">
              {{ element.status }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="font-semibold text-base">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="flex! whitespace-nowrap">
            <a mat-icon-button [routerLink]="['/apps/invoice/editinvoice', element.id]"
              class="flex! items-center justify-center">
              <i-tabler name="pencil" class="size-4.5! flex! items-center"></i-tabler>
            </a>
            <a mat-icon-button [routerLink]="['/apps/invoice/viewInvoice', element.id]"
              class="flex! items-center justify-center">
              <i-tabler name="eye" class="size-4.5! flex! items-center"></i-tabler>
            </a>
            <a mat-icon-button (click)="deleteInvoice(element.id)"
              class="flex! items-center justify-center hover:bg-lighterror! hover:text-error!">
              <i-tabler name="trash" class="size-4.5! flex! items-center"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 8, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>